<!DOCTYPE html>
<html lang="ko" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .v-enter-active, .v-leave-active {
            transition: opacity 1s;
        }
        .v-enter, .v-leave-to {
            opacity: 0;
        }
    </style>
</head>
<body>
<div class="app">
    <p>{{ message }}</p>
    <input v-model="message">
    <button v-on:click="show=!show">변경하기!</button>
    <transition>
        <p v-if="show">hello Vue.js!</p>
    </transition>
</div>
<div key="id"></div>
<div v-bind:key="key"></div>
<div class="app2">
    <ol>
        <li v-for="item in list">{{ item }}</li>
    </ol>
</div>

<script>
    var state = {count: 0}
    var app = new Vue({
        el: '.app',
        data: {
            show: true,
            state: state
        },
        computed: {
            computedMessage: function () {
                return this.message + '!';
            }
        },
        // created 라이프 사이클 훅
        created: function () {
            console.log('created');
        }
    })
    state.count++ // state.count 는 리액티브 데이터이다.
    var app2 = new Vue({
        el: '.app2',
        data: {
            list: ['사과', '바나나', '딸기']
        }
    })
</script>
</body>
</html>